.load {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background: rgb(189, 236, 237);
    background: linear-gradient(122deg, rgba(189, 236, 237, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 246, 226, 1) 100%);
}


.box {
    width: 300px;
    height: 115px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flower {
    left: 25%;
    width: 90px;
    height: 90px;
    animation: flower 3s linear infinite;
    position: relative;
    transform-origin: center;
    border-radius: 100%;
}

.petal {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 0 70px;
    background-color: #259925;
    transform-origin: right bottom;
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(138, 211, 222, 1) 100%);
    animation: petal 3s ease 0s infinite alternate none running;
    transform-origin: center;
    margin: auto;
}

.petal01 {
    transform: rotate(0deg);
    top: 6px;
    left: 2px;
}

.petal02 {
    transform: rotate(72deg);
    top: 0;
    right: 15px;
}

.petal03 {
    transform: rotate(144deg);
    top: 30px;
    right: 0;
}

.petal04 {
    transform: rotate(216deg);
    right: 24px;
    bottom: -4px;
}

.petal05 {
    transform: rotate(288deg);
    left: -4px;
    bottom: 11px;
}

.txt {
    width: 240px;
    color: #8ad3de;
    font-family: Arisawa-Kaisho;
    font-size: 24px;
    display: block;
    text-align: center;
    transform-origin: center;
    margin-top: 25px;
}

@keyframes flower {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}